<p>Please make your payment in sterling for <strong>{{ order.total_cost | formatCurrency }}</strong> to Department for Business & Trade’s bank account at National Westminster Bank.</p>

<p>
  <strong>Account Name:</strong> DBT OMIS Service<br>
  <strong>Account Number:</strong> 10014187<br>
  <strong>Sort Code:</strong> 60-70-80<br>
  <strong>Reference:</strong> {{ order.reference }}
</p>

<p>For international payments you may also need SWIFT and IBAN.</p>

<p>
  <strong>SWIFT:</strong> NWBKGB2L<br>
  <strong>IBAN:</strong> GB57NWBK60708010014187
</p>

<p>You agree to pay any bank charges incurred with this transaction.</p>
