<p>
  You will need to pay
  <a href="/{{ publicToken }}/invoice">the invoice</a>
  by {{ invoice.payment_due_date | formatDate }} ({{ invoice.payment_due_date | fromNow(invoice.overdue) }}{{ ' overdue' if invoice.overdue }}).
</p>
