{% extends '_layouts/omis-base.njk' %}

{% set heading = 'Paying by bank transfer' %}

{% block main_content %}
  {% include '_includes/bank-transfer-instructions.njk' %}

  <p>
    <a href="/{{ publicToken }}/invoice">View your invoice</a>
  </p>

  <h3>Can’t pay by bank transfer</h3>

  <p>
    Alternatively, you can <a href="/{{ publicToken }}/payment/card">pay by credit or debit card</a>.
  </p>
{% endblock %}
