{% extends '_layouts/omis-base.njk' %}

{% set heading = 'Paying by credit or debit card' %}

{% block main_content %}
  <p>Credit and debit card payments are made through the government’s secure payment service.</p>

  <p>
    Amount to pay:
    <strong>{{ order.total_cost | formatCurrency }}</strong>
  </p>

  <p>
    <a href="{{ paymentGatewaySession.payment_url }}" class="button">Continue to secure payment service</a>
  </p>

  <h3>Can’t pay by credit or debit card</h3>

  <p>
    Alternatively, you can <a href="/{{ publicToken }}/payment/bank-transfer">pay by bank transfer</a>.
  </p>
{% endblock %}
