{% extends '_layouts/omis-base.njk' %}

{% set heading = 'Your order has already been paid for' %}

{% block main_content %}
  <p>Your payment was received on {{ order.paid_on | formatDate }}.</p>

  <p>
    <a href="/{{ publicToken }}/receipt">View your payment receipt</a>
  </p>
{% endblock %}
