{% extends '_layouts/omis-base.njk' %}

{% set hideReturnLink = true %}

{% block main_content %}
  <div class="confirmation-banner">
    <h1 class="confirmation-banner__heading">
      Payment successful
    </h1>

    <p>
      Your reference number is
      <strong class="confirmation-banner__reference">
        {{ payments[0].transaction_reference or order.reference }}
      </strong>
    </p>
  </div>

  <h3>What happens next</h3>

  <p>You will receive a confirmation email that your payment has been received.</p>

  <p><a href="/{{ publicToken }}/receipt">View your payment receipt</a></p>

  <p><a href="/{{ publicToken }}">Return to overview</a></p>
{% endblock %}
