{% extends 'layout.njk' %}

{% set pageTitle='Not found' %}

{% block page_content %}

	<h1 class="error-heading">
		404
	</h1>

	<p>
		The resource you were looking for could not be found.
	</p>

{% endblock  %}
