{% extends '_layouts/dit-base.njk' %}

{% from '_macros/entity.njk' import MetaList %}
{% from "_macros/common.njk" import Message, Reveal %}
{% from "_macros/form.njk" import ErrorSummary, MultipleChoiceField %}

{% block head %}
  {{ super() }}

  {% if GOOGLE_TAG_MANAGER_KEY %}
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),
            dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl+'{{ GOOGLE_TAG_MANAGER_SUFFIX | safe }}';
        f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ GOOGLE_TAG_MANAGER_KEY }}');
    </script>
  {% endif %}
{% endblock %}

{% block body %}
  {% if GOOGLE_TAG_MANAGER_KEY %}
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id={{ GOOGLE_TAG_MANAGER_KEY }}{{ GOOGLE_TAG_MANAGER_SUFFIX | safe }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  {% endif %}

  {{ super() }}

  {% block javascript %}
    <script src="{{ getAssetPath('app.js') }}"></script>
  {% endblock %}
{% endblock %}

{% block body_main_content %}
  <article class="l-reading-width">
    {% if heading or subHeading %}
      <header class="local-header">
        {% if not hideReturnLink %}
          <p class="local-header__back u-print-hide">
            <a href="/{{ publicToken }}">View your order history</a>
          </p>
        {% endif %}

        {% if heading %}
          <h1 class="local-header__heading">{{ heading }}</h1>
        {% endif %}

        {% if subHeading %}
          <p class="local-header__subheading" data-test="subheading">{{ subHeading }}</p>
        {% endif %}
      </header>
    {% endif %}

    {% block main_content %}{% endblock %}
  </article>
{% endblock %}

{% block body_footer_content_ogl %}{% endblock %}

{% block body_footer_content_copyright %}{% endblock %}
