{% extends '_layouts/omis-base.njk' %}

{% block body_main_content %}
  <h1 data-test="header-cookies">Cookies</h1>

  <p data-test="paragraph-cookie-info">GOV.UK puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.</p>

  <p data-test="paragraph-cookie-useage">Cookies are used to:</p>

  <ul>
    <li>measure how you use the website so it can be updated and improved based on your needs</li>
    <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
  </ul>

  {% call Message({ type: 'muted', element: 'div' }) %}
    <p>GOV.UK cookies aren’t used to identify you personally.</p>
  {% endcall %}

  <p data-test="paragraph-description">You’ll normally see a message on the site before we store a cookie on your computer.</p>

  <p>Find out more about <a data-test="cookies-link" rel="external" href="https://ico.org.uk/for-the-public/online/cookies/">how to manage cookies</a>.</p>

  <h2 data-test="header-title-cookies">How cookies are used on GOV.UK</h2>

  <h3>Measuring website usage (Google Analytics)</h3>

  <p>We use Google Analytics software to collect information about how you use GOV.UK. We do this to help make sure the site is meeting the needs of its users and to help us make improvements, for example <a rel="external" href="https://insidegovuk.blog.gov.uk/2015/03/26/new-tool-to-see-trending-searches/" data-test="google-analytics-link">improving site search</a>.</p>

  <p>Google Analytics stores information about:</p>

  <ul>
    <li>the pages you visit on GOV.UK</li>
    <li>how long you spend on each GOV.UK page</li>
    <li>how you got to the site</li>
    <li>what you click on while you’re visiting the site</li>
  </ul>

  <p>We don’t collect or store your personal information (for example your name or address) so this information can’t be used to identify who you are.</p>

  {% call Message({ type: 'muted', element: 'div' }) %}
    <p>We don’t allow Google to use or share our analytics data.</p>
  {% endcall %}

  <p>Google Analytics sets the following cookies:</p>

  <h3 data-test="header-universal-analytics">Universal Analytics</h3>

  <table data-test="table-universal-analytics">
    <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>_ga</td>
        <td>This helps us count how many people visit GOV.UK by tracking if you’ve visited before</td>
        <td>2 years</td>
      </tr>
      <tr>
        <td>_gid</td>
        <td>This helps us count how many people visit GOV.UK by tracking if you’ve visited before</td>
        <td>24 hours</td>
      </tr>
      <tr>
        <td>_gat</td>
        <td>Used to manage the rate at which page view requests are made</td>
        <td>10 minutes</td>
      </tr>
    </tbody>
  </table>

  <h3>Google Analytics</h3>

  <table data-test="table-google-analytics">
    <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>_utma</td>
        <td>Like _ga, this lets us know if you’ve visited before, so we can count how many of our visitors are new to GOV.UK or to a certain page</td>
        <td>2 years</td>
      </tr>
      <tr>
        <td>_utmb</td>
        <td>This works with _utmc to calculate the average length of time you spend on GOV.UK</td>
        <td>30 minutes</td>
      </tr>
      <tr>
        <td>_utmc</td>
        <td>This works with _utmb to calculate when you close your browser</td>
        <td>when you close your browser</td>
      </tr>
      <tr>
        <td>_utmz</td>
        <td>This tells us how you reached GOV.UK (for example from another website or a search engine)</td>
        <td>6 months</td>
      </tr>
    </tbody>
  </table>

  <h3>Our introductory message</h3>

  <p>You may see a pop-up welcome message when you first visit GOV.UK. We’ll store a cookie so that your computer knows you’ve seen it and knows not to show it again.</p>

  <table data-test="table-introductory-message">
    <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>seen_cookie_message</td>
        <td>Saves a message to let us know that you’ve seen our cookie message</td>
        <td>1 month</td>
      </tr>
    </tbody>
  </table>

  <h3>Paying by credit or debit card</h3>

  <p>If you choose to pay by credit or debit card we need to store a cookie for your payment session. The content of this is encrypted and never shared.</p>

  <table data-test="table-pay-by-card">
    <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
        <td>paymentGatewaySession</td>
        <td>Saves your payment session so we don’t generate a new one each time</td>
        <td>2 hours</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
