{% extends '_layouts/omis-base.njk' %}

{% set hideReturnLink = true %}
{% set pageTitle = statusMessage %}
{% set heading = statusMessage %}

{% block main_content %}
  {%- if statusCode == '404' -%}
    <p>
      The resource you were looking for could not be found.
    </p>

    <p>
      Try <a href="/">visiting the homepage</a>.
    </p>
  {%- else -%}
    <p>
      This error has been reported to the team.
    </p>
  {%- endif -%}

  {%- if showErrors -%}
    <h2 class="error-heading">
      {{ statusCode }}
    </h2>

    <p class="stack-trace">
      {{ error.stack }}
    </p>
  {%- endif -%}
{% endblock  %}
