{% extends '_layouts/invoice.njk' %}

{% block invoice_payment_information %}
  <h3>Payment terms</h3>

  <p>Payable by {{ invoice.payment_due_date | formatDate }} ({{ invoice.payment_due_date | fromNow }}).</p>

  <h3>How to pay by bank transfer</h3>

  {% include '_includes/bank-transfer-instructions.njk' %}

  <h3>In case of problems</h3>

  <p>Get in touch with your DIT contact or email <a href="mailto:omis.orders@digital.trade.gov.uk">omis.orders@digital.trade.gov.uk</a>.</p>
{% endblock %}
