<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
	 <meta charset="utf-8">
	 <title>{{ pageTitle }}</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link href="/public/css/main.css" media="screen" rel="stylesheet">
  </head>

 	<body>
		<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

		<a href="#content" class="skiplink">Skip to main content</a>

		<header role="banner">
			<a href="/" title="Home link">Data Hub - OMIS</a>
		</header>

		<main id="content" role="main">
			{% block page_content %}{% endblock %}
		</main>
	</body>
</html>
