{% extends '_layouts/omis-base.njk' %}

{% set hideReturnLink = true %}
{% set heading = 'Your order' %}
{% set subHeading = 'Order reference ' + order.reference + ' in ' + order.primary_market.name %}

{% block main_content %}
  {% if not quote.accepted_on and (quote.expired or quote.cancelled_on) %}
    {% include '_includes/messages/quote-invalid.njk' %}
  {% elif order.status === 'complete' %}
    {% include '_includes/messages/order-complete.njk' %}
  {% elif order.status === 'paid' %}
    {% include '_includes/messages/order-paid.njk' %}
  {% endif %}

  <h2 data-test="actions-heading">Your actions</h2>

  {% if not quote.accepted_on and not (quote.expired or quote.cancelled_on) %}
    <p data-test="accept-quote-text">Please review and accept your quote so that we can start delivering the work.</p>

    <p>
      <a href="/{{ publicToken }}/quote" class="button" data-test="review-your-quote-button">
        Review your quote
      </a>
    </p>
  {% elif order.status === 'quote_accepted' %}
    <p data-test="must-pay-text">You must pay for your order to receive the work.</p>

    {% include '_includes/payment-instructions.njk' %}
  {% else %}
    <p data-test="no-actions-text">You have no actions for this order.</p>
  {% endif %}

  {% if invoice %}
    <h3 data-test="invoice-heading">Your invoice</h3>

    {% include '_includes/meta-lists/invoice.njk' %}

    <ul class="list-unstyled">
      {% if invoice.invoice_company_name %}
        <li>
          <a href="/{{ publicToken }}/invoice" data-test="invoice-link-ml">View your invoice</a>
        </li>
      {% endif %}
      {% if order.status in ['paid', 'complete'] %}
        <li>
          <a href="/{{ publicToken }}/receipt" data-test="receipt-link">View your payment receipt</a>
        </li>
      {% endif %}
    </ul>

    {% if not invoice.invoice_company_name %}
      {% include '_includes/messages/legacy-invoice.njk' %}
    {% endif %}
  {% endif %}

  <h3 data-test="your-quote-heading">Your quote</h3>

  {% include '_includes/meta-lists/quote.njk' %}

  {% if quote.accepted_on or quote.expired or quote.cancelled_on %}
    <ul class="list-unstyled">
      <li>
        <a href="/{{ publicToken }}/quote" data-test="quote-link">
          View your {{ 'accepted' if quote.accepted_on }} quote
        </a>
      </li>
    </ul>
  {% endif %}
{% endblock  %}
