{% extends '_layouts/omis-base.njk' %}

{% block body_main_content %}
  <h1>{{ order.reference }}</h1>

  {% if order.status === 'complete' %}
    {% call Message({ type: 'success', element: 'div' }) %}
      <p>Your order has been completed and you should have received any documents for this order.</p>
      <p>If there are any problems, get in touch with your DIT contact or email <a href="mailto:omis.orders@digital.trade.gov.uk">omis.orders@digital.trade.gov.uk</a></p>
    {% endcall %}
  {% endif %}

  {% if invoice %}
    <h2>Your invoice</h2>

    {{ MetaList({
      items: [
        { label: 'Invoice number', value: invoice.invoice_number },
        { label: 'Created on', value: invoice.created_on, type: 'datetime' },
        { label: 'Paid on', value: invoice.paid_on, type: 'datetime' }
      ],
      modifier: 'stacked',
      itemModifier: 'stacked'
    }) }}

    <p>
      <a href="/{{ publicToken }}/invoice">View your invoice</a>
    </p>

    {% if order.status in ['paid', 'complete'] %}
      <p>
        <a href="/{{ publicToken }}/receipt">View your payment receipt</a>
      </p>
    {% endif %}
  {% endif %}

  <h2>Your quote</h2>

  {% set expiryLabel %}
    Expire{{ 'd' if quote.expired else 's' }}
  {% endset %}

  {% set expiryValue %}
    {{ quote.expires_on | formatDate }} ({{ quote.expires_on | fromNow }})
  {% endset %}

  {{ MetaList({
    items: [
      { label: 'We sent it on', value: quote.created_on, type: 'datetime' },
      { label: expiryLabel, value: expiryValue if not quote.accepted_on },
      { label: 'You accepted it on', value: quote.accepted_on, type: 'datetime' }
    ],
    modifier: 'stacked',
    itemModifier: 'stacked'
  }) }}

    <p>
      <a href="/{{ publicToken }}/quote" class="{{ 'button' if not quote.accepted_on }}">
        View your
        {{ 'accepted' if quote.accepted_on }}
        quote
      </a>
    </p>
{% endblock  %}
