{% extends '_layouts/omis-base.njk' %}

{% block main_content %}
  <p>
    <a href="/{{ publicToken }}">Back to summary</a>
  </p>

  {% if invalid %}
    {{ ErrorSummary({
      messages: {
        confirm: 'Accept the terms and conditions'
      }
    }) }}
  {% endif %}

  <a name="terms-and-conditions" id="terms-and-conditions"></a>
  <h1>Your quote ({{ order.reference }})</h1>

  {% set expiryValue %}
    {{ quote.expires_on | formatDate }} ({{ quote.expires_on | fromNow }})
  {% endset %}

  {{ MetaList({
    items: [
      { label: 'We sent it on', value: quote.created_on, type: 'datetime' },
      { label: 'It will expire on', value: expiryValue if not quote.cancelled_on and not quote.expired and not quote.accepted_on },
      { label: 'You accepted it on', value: quote.accepted_on, type: 'datetime' },
      { label: 'Purchase order (PO) number', value: order.po_number }
    ],
    modifier: 'stacked',
    itemModifier: 'stacked'
  }) }}

  {% if quote.expired or quote.cancelled_on %}
    {% call Message({ type: 'error', element: 'div' }) %}
      {% if quote.cancelled_on %}
        <p>This quote is no longer valid.</p>
      {% else %}
        <p>This quote expired on {{ quote.expires_on | formatDate }} ({{ quote.expires_on | fromNow }}).</p>
      {% endif %}

      <p>Get in touch with your DIT contact or email <a href="mailto:omis.orders@digital.trade.gov.uk">omis.orders@digital.trade.gov.uk</a>.</p>
    {% endcall %}
  {% endif %}

  {% if quote.content %}
    <article class="example">
      <div class="example__preview l-markdown">
{# Ugly indentation is so that markdown spacing is handled correctly #}
{% markdown %}{{ quote.content | safe }}{% endmarkdown %}
        {% call Reveal({ summary: 'View full terms and conditions' }) %}
{# Ugly indentation is so that markdown spacing is handled correctly #}
{% markdown %}{{ quote.terms_and_conditions | safe }}{% endmarkdown %}
          <p><a href="#terms-and-conditions">Back to top</a></p>
        {% endcall %}
      </div>
    </article>
  {% else %}
    {% call Message({ type: 'muted' }) %}
      To view your quote, get in touch with your DIT contact or email <a href="mailto:omis.orders@digital.trade.gov.uk">omis.orders@digital.trade.gov.uk</a>.
    {% endcall %}
  {% endif %}

  {% if not quote.expired and not quote.accepted_on and not quote.cancelled_on %}
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ CSRF_TOKEN }}">

      {{ MultipleChoiceField({
        name: 'confirm',
        label: 'Accept the terms and conditions',
        isLabelHidden: true,
        type: 'checkbox',
        options: [{
          value: 'true',
          label: 'I accept the Charges and the Terms and Conditions'
        }],
        error: 'Confirm that you accept the Charges and the Terms and Conditions' if invalid
      }) }}

      <button type="submit" class="button">Accept quote</button>
    </form>

    {% call Reveal({ summary: 'There is a problem with my quote' }) %}
      {% call Message({ type: 'muted' }) %}
        Get in touch with your DIT contact or email <a href="mailto:omis.orders@digital.trade.gov.uk">omis.orders@digital.trade.gov.uk</a>
      {% endcall %}
    {% endcall %}
  {% endif %}
{% endblock  %}
