{% extends '_layouts/omis-base.njk' %}

{% block body_main_content %}
  <div class="confirmation-banner">
    <h1 class="confirmation-banner__heading">
      Quote accepted
    </h1>

    <p>
      Your order reference number is
      <strong class="confirmation-banner__referene">{{ order.reference }}</strong>
    </p>
  </div>
{% endblock  %}
