{% extends '_layouts/omis-base.njk' %}

{% block body_main_content %}
  <h1>Order {{ order.reference }}</h1>

  {{ MetaList({
    items: [
      { label: 'Quote was sent on', value: quote.created_on, type: 'datetime' }
    ],
    itemModifier: 'stacked'
  }) }}

  {% if order.status === 'quote_accepted' %}
    {{ Message({
      type: 'success',
      text: 'This quote was accepted on ' + quote.accepted_on | formatDateTime
    }) }}
  {% elif order.status === 'quote_awaiting_acceptance' %}
    {% set expiryLabel %}
      This quote {{ 'expired' if quote.expired else 'will expire' }} {{ quote.expires_on | fromNow }}.
    {% endset %}

    {{ Message({
      type: 'info',
      text: expiryLabel
    }) }}
  {% endif %}

  <article class="example">
    <div class="example__preview l-markdown">
      {% markdown %}
        {{ quote.content }}
      {% endmarkdown %}
    </div>
  </article>

  {% if not quote.accepted_on %}
    <form method="post" action="/{{ publicToken }}/accept">
      <input type="hidden" name="_csrf" value="{{ CSRF_TOKEN }}">

      <button type="submit" class="button">Accept quote</button>
    </form>
  {% endif %}

  <details>
    <summary>
      <span class="summary">
        There is a problem with my quote
      </span>
    </summary>

    <div class="c-message c-message--muted">
      <p>Please contact your ITA.</p>
    </div>
  </details>
{% endblock  %}
