{% extends '_layouts/omis-base.njk' %}

{% block main_content %}
  <div class="confirmation-banner">
    <h1 class="confirmation-banner__heading">
      Quote accepted
    </h1>

    <p>
      Your reference number is
      <strong class="confirmation-banner__referene">{{ order.reference }}</strong>
    </p>
  </div>

  <h3>What happens next</h3>

  <p>You will receive a confirmation email that the quote has been accepted.</p>

  <p>You will need to pay <a href="/{{ publicToken }}/invoice">the invoice</a> by {{ invoice.payment_due_date | formatDate }} ({{ invoice.payment_due_date | fromNow }}).</p>

  <p>
    <a href="/{{ publicToken }}">Return to summary</a>
  </p>
{% endblock  %}
