{% extends '_layouts/invoice.njk' %}

{% set heading = 'Receipt' %}
{% set creationDateLabel = 'Receipt date' %}
{% set creationDateValue = order.paid_on %}

{% block invoice_payment_information %}
  <h2 class="heading-medium">
    Payment details
    {% if payments.length > 1 %}
      ({{ payments.length }} {{ ' payment' | pluralise(payments.length) }})
    {% endif %}
  </h2>

  {% for payment in payments %}
    {% if payments.length > 1 %}
      <h3 class="heading-small">Payment {{ loop.index }}</h3>
    {% endif %}

    {{ MetaList({
      items: [
        { label: 'Method', value: payment.method | sentenceCase },
        { label: 'Amount received', value: payment.amount | formatCurrency },
        { label: 'Received on', value: payment.received_on, type: 'date' },
        { label: 'Transaction reference', value: payment.transaction_reference }
      ],
      modifier: 'stacked',
      itemModifier: 'stacked'
    }) }}
  {% endfor %}
{% endblock %}
