{{ MetaList({
  items: [
    { label: 'Invoice number', value: invoice.invoice_number },
    { label: 'Created on', value: invoice.created_on, type: 'datetime' },
    { label: 'Paid on', value: order.paid_on, type: 'date' }
  ],
  dataTest: "invoice"
}) }}
