{% call Message({ type: 'muted', element: 'div' }) %}
  <p>
    To view your invoice, get in touch with your DBT contact or email <a href="mailto:omis.orders@digital.trade.gov.uk">omis.orders@digital.trade.gov.uk</a>.
  </p>
{% endcall %}
