{% call Message({ type: 'muted' }) %}
  To view your quote, get in touch with your DIT contact or email <a href="mailto:omis.orders@digital.trade.gov.uk">omis.orders@digital.trade.gov.uk</a>.
{% endcall %}
