{% call Message({ type: 'info', element: 'div' }) %}
  <p data-test="completed-text">Completed work for your order will be sent directly to {{ order.contact_email or 'you by email' }}.</p>

  <p data-test="problem-text">If there are any problems, get in touch with your DBT contact or email <a href="mailto:omis.orders@digital.trade.gov.uk" data-test="omis-email">omis.orders@digital.trade.gov.uk</a>.</p>
{% endcall %}
